body {
  width: 1480px;
}
a {
  text-decoration: none;
}
.logo-header {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  line-height: 94px;
  color: #000000;
  margin-top: 63px;
  margin-left: 98px;
}
.logo-header-color {
  color: #4bcaff;
}
.top-menu {
  display: flex;
  justify-content: center;
  margin: 38px auto;
  width: 1280px;
  height: 72px;
  background: #35444f;
}
.top-menu-item {
  padding: 22px 33px;
  border-left: 1px solid #ffffff;
  cursor: pointer;
}
.right-border-item {
  border-right: 1px solid #ffffff;
}
.top-menu-item:hover {
  background: #222f3a;
}
.top-menu-link {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.left-sidebar-link {
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
}
.left-sidebar-item {
  padding: 26px 44px;
  cursor: pointer;
}
.left-sidebar-item:hover {
  background: #dbdbdb;
  padding-left: 60px;
}
.left-sidebar {
  border: 1px solid #000000;
  width: 344px;
}
.section-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 48px;
}
.top-img {
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}
.top-img img {
  transition: 1s;
  display: block;
}
.top-img img:hover {
  transform: scale(1.1);
}
.top-content {
  padding-left: 52px;
  width: 885px;
}
.text-content {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-top: 34px;
}
.footer-menu {
  display: flex;
  justify-content: start;
  margin: 0px auto;
  height: 69px;
  align-items: center;
}
.footer-menu-item {
  margin-right: 40px;
}
.footer-menu-link {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  padding-bottom: 13px;
}
.footer-menu-link:hover {
  color: #4bcaff;
  border-bottom: 1px solid #3181a6;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  background: rgba(99, 105, 110, 0.48);
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: 54px;
  align-items: center;
}
.footer-copyright {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  margin: 0px auto;
}
